@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #fde2e4, #d7c7f5); 
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    line-height: 1.2;
    color: #d5a6d4; 
    text-shadow: 2px 2px #b39ddb; 
    display: block;
}

.bg-image {
    width: 100%; 
    height: 200px; 
    background-image: url('assets/supermario-bg-pastel.jpg'); 
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    border-radius: 8px; 
}

form {
    background: rgba(255, 240, 245, 0.9); 
    border: 4px solid #d3c0f3; 
    padding: 40px;
    border-radius: 8px;
    width: 100%;
    max-width: 1200px;
    height: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.5s ease;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.input-group {
    display: flex;
    gap: 20px;
}

.input-box {
    flex: 1;
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    color: #836fa9; 
    margin-top: 5px;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    border: 2px solid #dab3e3; 
    border-radius: 8px;
    background-color: #fffafc; 
    font-size: 14px;
    color: #333;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
input[type="password"]:focus,
select:focus {
    border-color: #b39ddb; 
    outline: none;
    background-color: #f3e5f5; 
}

button[type="submit"],
button[type="button"] {
    background: linear-gradient(90deg, #dab3e3, #f4d7f8); 
    border: none;
    color: #333;
    font-weight: bold;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}

button[type="submit"]:hover,
button[type="button"]:hover {
    background: linear-gradient(130deg, #c5a1d8, #e3c6f5); 
    transform: scale(1.1);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

button:active {
    transform: scale(1);
}

form::before {
    content: "";
    height: 150px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: url('assets/pink-bg-mario.jpg') no-repeat center center;
    background-size: cover;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.3); 
}
